<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>Friends</title>
</head>

<body>
    <nav id="menu">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/protagonistas">Meet the cast</a></li>
          <li><a href="/photo">Photo Galery</a></li>
        </ul>
      </nav>
      <main id="main">
        <p id="txtAbout">Friends is a 90's Comedy TV show, based in Manhattan, about 6 friends who go through just about every life experience imaginable together; love, marriage, divorce, children, heartbreaks, fights, new jobs and job losses and all sorts of drama. The show starts off with each character in their 20's, and expands over a 10 year period, as each character tries to find happiness, success and what the true meaning of a "friend" really is. Our 6 famous characters are Rachel Green, Phoebe Buffay, Monica Geller, Ross Geller, Joey Tribbiani and Chandler Bing. Click on "<a href="/protagonistas">Meet the Cast</a>" to find out more about these unique characters and the stars behind them.</p>
      </main>
    
    
</body>

</html>