<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/estilosAbout.css" />
    <title>Friends</title>
</head>

<body>
    <nav id="menu">
        
          <a class="boton" href="/home">Home</a>
          <a class="boton" href="/protagonistas">Meet the cast</a>
          <a class="boton" href="/photo">Fun Facts & Photo Galery</a>
       
      </nav>
      <main id="mainAbout">
        <article class="articleAbout">
            <p id="txtAbout">Friends is a 90's Comedy TV show, based in Manhattan, about 6 friends who go through just about every life experience imaginable together; love, marriage, divorce, children, heartbreaks, fights, new jobs and job losses and all sorts of drama. The show starts off with each character in their 20's, and expands over a 10 year period, as each character tries to find happiness, success and what the true meaning of a "friend" really is. Our 6 famous characters are Rachel Green, Phoebe Buffay, Monica Geller, Ross Geller, Joey Tribbiani and Chandler Bing. Click on "<a href="/protagonistas">Meet the Cast</a>" to find out more about these unique characters and the stars behind them.</p>
        </article>
        <article class="articleAbout">
            <!-- <img id="friendsphoto" src="Img/friends.webp"> -->
            <img id="photoAbout" src="Img/friends-tv-series-ross-geller-joey-tribbiani-david-schwimmer-wallpaper-thumb.jpg">
        </article>
      
    </main>
    
    
</body>

</html>