<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/estilosHome.css" />
    <title>Friends</title>
</head>

<body>
    <div>
        <nav id="menu">
            <a class="boton"  href="/about">About Friends</a>
            <a  class="boton"  href="/protagonistas">Meet the cast</a>
            <a class="boton"  href="/photo">Fun Facts & Photo Galery</a> 
        </nav>
    </div>
    
     <div>
         <main id="mainHome">
        <div id="divLogoFriends">
            <img id="logoFriends" src="Img/Friends_logo.svg.png">
        </div>
        <div id="divMainDoor">
            <img id="puerta" src="Img/friends-1-031-6447017e5f1d087f5814983386451176-1024-1024.png">
        </div>
        
      </main>
    </div>
     
    
    
</body>
</html>