<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>Friends</title>
</head>

<body>
    <nav id="menu">
        <ul>
          <li><a href="/about">About Friends</a></li>
          <li><a href="/protagonistas">Meet the cast</a></li>
          <li><a href="/photo">Photo Galery</a></li>
        </ul>
      </nav>
    <img id="logoFriends" src="Img/Friends_logo.svg.png">
    
    <img id="puerta" src="Img/friends-1-031-6447017e5f1d087f5814983386451176-1024-1024.png">
    
</body>
</html>