<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/estilosPhoto.css" />
    <title>Friends</title>
</head>

<body>
    <nav id="menu">
        
          <a  class="boton" href="/home">Home</a>
          <a class="boton"  href="/protagonistas">Meet the cast</a>
          <a  class="boton" href="/about">About Friends</a>
        
      </nav>
      <div id="tituloFacts"> <h1>Fun Facts & Photos</h1> </div>
<main id="mainPhoto">

  
  
  <div id="divFacts">
    <ul>
      <li class="li">The series consists of 10 seasons, with a total of 236 episodes.</li>
      <li class="li">Each episode is 22 minutes long. These were recorded in the Warner Bross. studio in California, with live audiences. About 300 people.</li>
      <li class="li">Friends aired Carol and Susan's first lesbian wedding. In some countries it was censored. A breakthrough for the time.</li>
      <li class="li">Matt LeBlanc had $11 in the bank when he auditioned for Joey.</li>
      <li class="li">Jennifer Aniston, in principle, was going to play Monica and Courtney Cox was going to be Rachel. They suggested that the producers swap roles.</li>
      <li class="li">Lisa Kudrow played Ursula Buffay before Phoebe in Mad About You, a highly successful series in the 90s.</li>
      <li class="li">The show's intro sequence, in which they dance and get wet in the fountain, was recorded at 4:00 a.m. at a fountain at the Warner Bros. Ranch.
      </li>
      <li class="li">The final chapter was recorded without an audience so that there would be no leak.</li>
    </ul>
  </div>
  <div id="divImg">
    
    <img class="imgFacts" src="/Img/friends.webp">
    <img class="imgFacts" src="Img/fuente.jpg">
    <img class="imgFacts" src="Img/finalchapter.jpg">

  </div>
  
</main>
    
</body>
</html>