<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>Friends</title>
</head>

<body>
    <nav id="menu">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/protagonistas">Meet the cast</a></li>
          <li><a href="/about">About Friends</a></li>
        </ul>
      </nav>

    <img src="Img/descarga.jpeg">
</body>
</html>