<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/estilosProtagonistas.css" />
    <title>Friends</title>
</head>

<body>
  <nav id="menu">
    
      <a class="boton"  href="/home">Home</a>
      <a class="boton" href="/about">About Friends</a>
    <a class="boton" href="/photo">Fun Facts & Photo Galery</a>
    
  </nav>
    <div id="tituloProtagonistas"> <h1>Protagonists</h1> </div>

      <main id="container">
        
        <article class="article">
          <p class="names">Jennifer Aniston</p>
          <img src="Img/rachel-green.jpg">
        </article>
        <article class="article">
          <p class="names">Courteney Cox</p>
          <img src="Img/friends-monica.jpg"> 
        </article>
        <article class="article">
          <p class="names">Lisa Kudrow</p>
          <img src="Img/phoebe-buffay.jpg">
        </article>
        <article class="article"> 
          <p class="names">Matt LeBlanc</p>
          <img src="Img/joey-tribbiani.jpg">
        </article>
          <article class="article">
            <p class="names">Matthew Perry</p>
            <img src="Img/chandler-bing.jpg">
          </article>
          <article class="article">
            <p class="names">David Schwimmer</p>
            <img src="Img/ross-geller.jpg">
          </article>
      </main>
    
</body>
</html>