

body{
    margin: 0;
    padding:0;
    /* display: flex; */
    font-family: 'Montserrat';
    font-weight: bold;
    
}
 #menu{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .boton{
  text-decoration: none;

}












